.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #f9fafb;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header a {
  display: flex;
  align-items: center;
  color: #6B46C1;
  text-decoration: none;
}

.nav-items {
  display: flex;
  gap: 1.5rem;
}

.nav-item a,
.auth-links a,
.mobile-menu a {
  color: #6B46C1;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.nav-item a:hover,
.nav-item a.active,
.auth-links a:hover,
.mobile-menu a:hover,
.mobile-menu a.active {
  background-color: #6B46C1;
  color: white;
  transform: scale(1.05);
}

.mobile-menu-button {
  display: none;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: #f9fafb;
  border-radius: 25px;
  margin-top: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-items,
  .auth-links {
    display: none;
  }

  .mobile-menu-button {
    display: block;
  }

  .mobile-menu.visible {
    display: flex;
  }

  .navbar-title {
    background-image: linear-gradient(to right, #214559, #4682B4);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
}
