.newsletter-title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.newsletter-description {
  color: rgba(0, 0, 0, 0.75);
  font-size: 1rem;
  margin-bottom: 1rem;
}

.newsletter-input-group {
  width: 100%;
  display: grid;
  row-gap: 1rem;
}

.newsletter-input,
.newsletter-submit {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid #ccc;
}

.newsletter-submit {
  background-color: #6B46C1;
  border-radius: 0.125rem;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.newsletter-section {
  margin-top: 5rem;
}

@media (min-width: 768px) {
  .newsletter-title {
    font-size: 1.25rem;
  }
  
  .newsletter-description {
    font-size: 1rem;
  }
  
  .newsletter-input,
  .newsletter-submit {
    padding: 0.75rem 1rem;
  }
  
  .newsletter-input-group {
    row-gap: 1.5rem;
  }

  .newsletter-section {
    margin-top: 6rem;
  }
}

@media (min-width: 1024px) {
  .newsletter-title {
    font-size: 1.5rem;
  }
  
  .newsletter-description {
    font-size: 1.25rem;
  }
  
  .newsletter-section {
    margin-top: 6rem;
  }
}

@media (max-width: 768px) {
  .newsletter-title {
    font-size: 1rem;
  }
  
  .newsletter-description {
    font-size: 0.875rem;
  }
  
  .newsletter-section {
    margin-top: 3rem;
  }
}
