/* Keyframes for animations */
@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Applying animations */
  .welcome-title,
  .welcome-subtitle,
  .welcome-buttons .btn,
  .user-feedback,
  .step {
    animation: fadeInUp 1s ease-out;
  }
  
  body {
    margin: 0;
    font-family: 'Arial, sans-serif';
    background-color: #FFFFFF; /* Background Color */
    color: #111111; /* Text Color */
  }
  
  .welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #F0F8FF;
    text-align: center;
  }
  
  .welcome-header {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .welcome-images {
    display : flex;
    justify-content: right;
    gap: 2rem;
  }
  
  .welcome-image {
    max-width: 250px;
    border-radius: 8px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  }
  
  .welcome-content {
    max-width: 60%;
    margin-top: 2rem;
    text-align: left;
  }
  
  .welcome-title {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color: #FF4136; /* Primary Color */
    font-weight: bold;
  }
  
  .welcome-subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #111111; /* Text Color */
  }
  
  .welcome-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .welcome-buttons .btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #FFFFFF; /* Background Color */
    background-color: #FF4136; /* Primary Color */
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s, transform 0.3s;
    font-weight: bold;
  }
  
  .welcome-buttons .btn:hover {
    background-color: #FF6F61; /* Light Red */
    transform: translateY(-5px);
  }
  
  .welcome-how-it-works {
    padding: 2rem 0;
    width: 100%;
    text-align: center;
    background: #0074D9; /* Secondary Color */
    color: #FFFFFF; /* Background Color */
    font-size: 30px;
    font-weight: bold;
  }
  
  .how-it-works-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .step {
    background: #FFFFFF; /* Background Color */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .step h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #0074D9; /* Secondary Color */
  }
  
  .step p {
    font-size: 1rem;
    line-height: 1.5;
    color: #111111; /* Text Color */
  }
  
  .step:hover {
    transform: translateY(-10px);
  }