/* Container for the whole page */
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 60px;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    background-color: #2d3748;
    color: white;
    margin-bottom: 24px;
}
/* .navbar h1{
    margin: 0;
    font-size: 1.5rem;
} */

/* Header for the job list page */
.header {
    text-align: center;
    margin-bottom: 24px;
}

.header h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #1a202c;
}

/* Search container styles */
.search-container {
    display: flex;
    justify-content: center;
    margin: 29px 0 24px;
}

.search-input {
    padding: 8px 16px;
    border: 1px solid #cbd5e0;
    border-radius: 0.25rem 0 0 0.25rem;
    outline: none;
    transition: border-color 0.2s;
    width: 33%;
}

.search-input:focus {
    border-color: #4299e1;
}

.search-button {
    background-color: #000;
    color: #fff;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 0 0.25rem 0.25rem 0;
    cursor: pointer;
}

/* Job container styles */
.job-container {
    background-color: #000;
    padding: 16px;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(130, 128, 128, 0.1);
}

/* Job header styles */
.job-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    text-decoration: underline white;
}

.job-header h3 {
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
}

.post-job-button {
    background-color: #ff0056;
    color: #000;
    font-weight: 700;
    padding: 8px 16px;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.15s;
}

.post-job-button:hover {
    background-color: darkred;
}

/* Table container styles */
.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    background-color: #000;
    border-collapse: collapse;
}

th, td {
    padding: 12px 24px;
    border-bottom: 1px solid #e2e8f0;
    text-align: left;
    font-size: 0.875rem;
}

th {
    background-color: #000;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}

td {
    color: #fff;
}

.edit-button {
    background-color: #ebc744;
    color: #000;
    font-weight: bold;
    padding: 4px 12px;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.15s;
}

.edit-button:hover {
    background-color: #d69e2e;
}

.delete-button {
    background-color: #ff0056;
    color: #000;
    font-weight: bold;
    padding: 4px 12px;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.15s;
}

.delete-button:hover {
    background-color: #c53030;
}

/* Pagination styles */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    gap: 16px;
}

.pagination-button {
    background-color: #edf2f7;
    color: #000;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.15s;
}

.pagination-button:hover {
    background-color: #e2e8f0;
}
